<!DOCTYPE html>
<html>
<head>
	<title>Edit Landmark</title>
</head>
<body>
	<h1>Edit Landmark</h1>
	<form method="post" action="/landmarks/<%=@landmark.id%>">
		<input type="hidden" name="_method" id="hidden" value="patch">
		<p>Landmark Name: <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></p>
		<p>Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></p>
		<input type="submit" id="submit" value="Edit Landmark">
	</form>

</body>
</html>