<!DOCTYPE html>
<html>
<head>
	<title>Create New Landmark</title>
</head>
<body>
	<h1>Create New Landmark</h1>
	<form method="post" action="/landmarks">
		<p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
		<p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
		<input type="submit" id="submit" value="Create New Landmark">
	</form>
</body>
</html>